<div id="background">
   <!-- ting_page - begin -->
   <div id="content" class="ting_page">
      <!-- mainBlock - begin -->
      <div class="widget" id="cookiesNotSupported" hidden="">
         <h2>Cookies support</h2>
         <p>Cookies are currently disabled in your browser. As a result, some elements of our site won't work as designed. For example, promotional codes won't apply, and we won't be able to keep you logged in for future site visits. If you'd like to re-enable cookies, you can do so in your browser settings.	</p>
      </div>
      <div class="widget" id="browserNotSupported" hidden="">
         <h2>Browser Support</h2>
         <p>We want to make sure you have an outstanding Ting experience. We are not able to deliver that with your current browser settings. Please consider visiting us again using the latest version of 
            <a href="http://www.ie6countdown.com/">Internet Explorer</a>,
            <a href="http://getfirefox.com">Firefox</a>,
            <a href="http://www.google.com/chrome">Chrome</a>,
            <a href="http://www.apple.com/safari/download/">Safari</a>, or
            <a href="http://www.opera.com/download/">Opera</a>.
         </p>
         <p>
            <span id="dismissBrowserSupport" class="trigger"> Dismiss</span>
         </p>
      </div>
      <noscript>
         &amp;lt;div class="widget"&amp;gt;
         &amp;lt;h2&amp;gt;Javascript support&amp;lt;/h2&amp;gt;
         &amp;lt;p&amp;gt;We want to make sure you have an outstanding Ting experience. We are not able to deliver that with your current browser settings. Please enable Javascript in your browser settings .
         &amp;lt;/p&amp;gt;
         &amp;lt;/div&amp;gt;
      </noscript>
      <div class="wrapper flush order_step">
         <div class="wrapperSection">
            <h2 class="mainHeader">Create your Ting account</h2>
            <p class="tagline">
               Already have an account?
               <button class="trigger" type="button" id="signinTrigger">Sign in instead.</button>
            </p>
            <tingcom-form-signup></tingcom-form-signup>
         </div>
      </div>
      <tingcom-order-detail></tingcom-order-detail>
      <div class="clear"></div>
      <!-- mainBlock - end -->
   </div>
   <!-- end content -->
   <div id="mobileOverlay"></div>
</div>