<div class="breadcrumb">
    <ul class="nav">
        <!-- 		-->
        <li class="current ">
            <span class="stepName">
                1<!-- 				--><span class="stepDescription">. Service address</span>			
            </span>
        </li>
        <!-- 		-->
        <li class=" ">
            <span class="stepName">
                2<!-- 				--><span class="stepDescription">. Billing</span>			
            </span>
        </li>
        <!-- 		-->
        <li class=" ">
            <span class="stepName">
                3<!-- 				--><span class="stepDescription">. Shipping</span>			
            </span>
        </li>
        <!-- 		-->
        <li class=" ">
            <span class="stepName">
                4<!-- 				--><span class="stepDescription">. Confirmation</span>			
            </span>
        </li>
        <!--     -->
    </ul>
    <form action="#" method="POST">
        <button type="button" name="cancel" (click)="goBack()">
            <svg role="img" class=" iconSvg" title="Cancel" width="20" height="20">
                <!--<use xlink:href="/static/images/icons.svg#close" />-->
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#close"></use>
            </svg>
            Cancel
        </button>
    </form>
</div>
<div class="clear"></div>
<div class="wrapper flush order_step">
   <div class="wrapperSection">
      <h3>Service address</h3>
      <p>Your service address will allow us to determine if your area is serviceable by our network.</p>
      <div id="error" style="display: none;"></div>

      <dynamic-form [controls]="controls" [submittext]="'Next step'"></dynamic-form>
   </div>
</div>

<button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        Hello World!
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>