<div *ngIf="currentOrder" class="widget order" id="order_widget">
   <h6 class="sectionHeader">
      Your order
   </h6>
   <h5>{{currentOrder.productName}}</h5>
   <img class="order_receipt_phone" src="{{currentOrder.imagePath}}" height="250" width="188" alt="">
   <ul class="rowedList">
      <li>
         Quantity
         <span class="detail">
            <div class="selectmenu detailSelect">
               <select name="quantity" [ngModel]="currentOrder.quantity" (ngModelChange)="onQuantityChange($event)" >
                  <option [value]="i" *ngFor="let i of currentOrder.MaxCount">{{i}}</option>
               </select>
            </div>
            x ${{currentOrder.price}}
         </span>
      </li>
      <li>
         Subtotal
         <span class="detail" id="order_total">${{currentOrder.subtotal()}}</span>
      </li>
   </ul>
</div>